/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/******* button icon colors ******/
#containers-panelmenu,
#web-apps-button,
#e10s-button,
#panic-button,
#cut-button,
#zoom-out-button,
#stop-button,
#stop-button .toolbarbutton-animatable-image,
#stop-reload-button[animate] > #reload-button[displaystop] + #stop-button > .toolbarbutton-animatable-box > .toolbarbutton-animatable-image,
#save-page-button ,
#back-button,
#forward-button,
#new-window-button,
#new-tab-button,
#alltabs-button,
.scrollbutton-up,
.scrollbutton-down,
#navigator-toolbox #TabsToolbar:not(:-moz-lwtheme) #alltabs-button,
#navigator-toolbox #TabsToolbar:not(:-moz-lwtheme) .tabbrowser-arrowscrollbox > .scrollbutton-up,
#navigator-toolbox #TabsToolbar:not(:-moz-lwtheme) .tabbrowser-arrowscrollbox > .scrollbutton-down,
#downloads-button,
#downloads-button[indicator="true"]:not([attention="success"]) #downloads-indicator-icon,
#zoom-in-button,
#copy-button,
#find-button,
#sidebar-button,
#fullscreen-button,
#PanelUI-customize,
#password-notification-icon,
#PanelUI-fxa-status,
#sync-button,
#tabview-button,
#paste-button,
#email-link-button,
#reload-button,
#reload-button .toolbarbutton-animatable-image,
#add-ons-button,
#open-file-button,
#home-button,
#feed-button,
#history-button,
#history-panelmenu,
#library-button,
#privatebrowsing-button,
#print-button,
#webide-button,
#PanelUI-menu-button,
#nav-bar-overflow-button,
#bookmarks-menu-button,
#bookmarks-button,
#bookmarks-menu-button > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#developer-button,
#preferences-button,
#characterencoding-button {
  fill: #FFFFFF !important;
  fill-opacity: 1.0 !important;
  opacity: 1.0 !important;
}
