/* Firefox userContent.css tweaks *******************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@-moz-document url-prefix(about:addons),
	url-prefix(chrome://mozapps/content/extensions/aboutaddons.html),
	url-prefix(chrome://mozapps/content/extensions/aboutaddons.xhtml) {

	#categories .category[name="available-updates"],
	#category-availableUpdates {
	  -moz-box-ordinal-group: 100 !important;
	  order: 2 !important;
	}

}