/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#main-window:not([style*='--lwt-header-image']):-moz-lwtheme-brighttext #navigator-toolbox #TabsToolbar:-moz-lwtheme,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme-brighttext #navigator-toolbox #nav-bar:-moz-lwtheme,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme-brighttext #navigator-toolbox toolbar:not(#TabsToolbar):not(#toolbar-menubar):not(#nav-bar):-moz-lwtheme {
  appearance: none !important;
  background: black !important;
}

#main-window:not([style*='--lwt-header-image']):-moz-lwtheme-brighttext #navigator-toolbox #TabsToolbar:-moz-lwtheme .tabbrowser-tab .tab-content[selected="true"] {
  background-image: linear-gradient(transparent,black,black) !important;
}
