/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@media (-moz-windows-accent-color-in-titlebar: 0) {
  :root[sizemode=normal][tabsintitlebar] {
	border-top: 1px solid rgba(0,0,0,.7) !important;
  }
  :root[sizemode=normal][tabsintitlebar][always-use-accent-color-for-window-border]:not(:-moz-window-inactive) {
    border-top-color: -moz-accent-color !important;
  }
  :root[tabsintitlebar]:not(:-moz-lwtheme) {
    background-color: hsl(235,33%,19%) !important;
    color: hsl(240,9%,98%) !important;
  }
}

@media (-moz-windows-accent-color-in-titlebar) {
  :root[sizemode=normal][tabsintitlebar] {
    border-top: 1px solid -moz-accent-color !important;
  }
  :root[tabsintitlebar]:not(:-moz-window-inactive, :-moz-lwtheme),
  :root[tabsintitlebar]:not(:-moz-window-inactive)[lwt-default-theme-in-dark-mode] {
    background-color: -moz-accent-color !important;
    color: -moz-accent-color-foreground !important;
  }
  :root[tabsintitlebar][lwt-default-theme-in-dark-mode] #titlebar {
    --toolbarbutton-icon-fill: currentColor !important;
    --toolbarbutton-icon-fill-opacity: .7 !important;
  }
}
	