/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/* If complete CustomCSSforFx release package is used, ':root' variables have to be set **
   inside /config/general_variables.css! ************************************************/


:root{
  --results_font_size: 10pt;
}

#urlbar-results :is(.urlbarView-tags, .urlbarView-action, .urlbarView-title, .urlbarView-url) {
  font-size: var(--results_font_size) !important;
}
