/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#PopupSearchAutoComplete :is(richlistitem,button):is(:hover,[selected]),   /* apply code to search popup too */
.urlbarView button:is(:hover,:hover:active,[selected]),
#urlbar-results .urlbarView-row[selected] .urlbarView-row-inner,
#urlbar-results .urlbarView-row[aria-selected="true"] .urlbarView-row-inner, 
#urlbar-results .urlbarView-row:hover .urlbarView-row-inner {
  color: inherit !important;
  background-color: transparent !important;
  background-image:
	linear-gradient(to right, rgba(255,255,255,0.4) 0px, transparent 0px),
	linear-gradient(to left, rgba(255,255,255,0.4) 0px, transparent 0px),
	linear-gradient(to top, rgba(255,255,255,0.3) 0px, transparent 0px),
	linear-gradient(to bottom, rgba(163,196,247,0.2), rgba(122,180,246,0.2)) !important;
  border-radius: 6px !important;
  outline: 1px solid rgba(124,163,206,0.7) !important;
  outline-radius: 3px !important;
  outline-offset: -1px !important;
}

#urlbar-results .urlbarView-row[selected] .urlbarView-title, 
#urlbarView-results .urlbarView-title[selected],
#urlbar-results .urlbarView-row[selected] .urlbarView-url, 
#urlbarView-results .urlbarView-url[selected],
#urlbar-results .urlbarView-row[selected] .urlbarView-action,
#urlbarView-results .urlbarView-action[selected],
#urlbar-results .urlbarView-row[selected] .ac-separator,
#urlbarView-results .ac-separator[selected] {
  color: HighlightText !important;
}

/* replace inverted text colors with default ones */
#urlbar-results .urlbarView-row[selected] .urlbarView-title {
  color: hsl(0, 0%, 0%) !important;
}
#urlbar-results .urlbarView-row[selected] .urlbarView-url {
  color: hsl(210, 77%, 47%) !important;
}
#urlbar-results .urlbarView-row[selected] .urlbarView-action {
  color: hsl(178, 100%, 28%) !important;
}
