/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#new-tab-button {
  visibility: visible !important;
  display: unset !important;
}

:is(.tabs-newtab-button,#tabs-newtab-button) {
  visibility: collapse !important;
}
