/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


.tab-label-container {
  display: grid !important;
  justify-items: safe left !important;
}

.tab-label {
  overflow: hidden !important;
}
