/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* NOTE  ********************************************************************************/
/* Variables are set inside '.\config\' folders CSS files, if complete package is used! */


:root {
  --tab_min_width: 50px;
  --tab_max_width: 120px;
}

/* use 'about:config > browser.tabs.tabMinWidth' for tab min-width */
/*
.tabbrowser-tab:not([pinned]) {
  min-width: var(--tab_min_width) !important;
  clip-width: var(--tab_min_width) !important;
}
*/

/* tab max-width */
#tabbrowser-tabs:not([overflow="true"]):not([using-closing-tabs-spacer="true"]) .tabbrowser-tab[fadein]:not([pinned]) {
  max-width: var(--tab_max_width) !important;
  overflow: hidden !important;
}
