/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#TabsToolbar #closetab_fmarin_com-browser-action .toolbarbutton-icon,
#TabsToolbar #_fe8cab45-aaee-45f8-8765-781e0ebea300_-browser-action .toolbarbutton-icon,
#sidebar-close .toolbarbutton-icon,
* > .close-icon{
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
  list-style-image: url("./../../image/close_w7.png") !important;
}
#TabsToolbar #closetab_fmarin_com-browser-action:hover .toolbarbutton-icon,
#TabsToolbar #_fe8cab45-aaee-45f8-8765-781e0ebea300_-browser-action:hover .toolbarbutton-icon,
#sidebar-close:hover .toolbarbutton-icon,
* > .close-icon:hover{
  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
}
#TabsToolbar #closetab_fmarin_com-browser-action:hover:active .toolbarbutton-icon,
#TabsToolbar #_fe8cab45-aaee-45f8-8765-781e0ebea300_-browser-action:hover:active .toolbarbutton-icon,
#sidebar-close:hover:active .toolbarbutton-icon,
* > .close-icon:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px) !important;
}

@media (min-resolution: 1.1dppx) {
  #TabsToolbar #closetab_fmarin_com-browser-action .toolbarbutton-icon,
  #TabsToolbar #_fe8cab45-aaee-45f8-8765-781e0ebea300_-browser-action .toolbarbutton-icon,
  #sidebar-close .toolbarbutton-icon,
  * > .close-icon {
	list-style-image: url("./../../image/close_w7_2x.png") !important;
	-moz-image-region: rect(0, 32px, 32px, 0) !important;
  }
  #TabsToolbar #closetab_fmarin_com-browser-action:hover .toolbarbutton-icon,
  #TabsToolbar #_fe8cab45-aaee-45f8-8765-781e0ebea300_-browser-action:hover .toolbarbutton-icon,
  #sidebar-close:hover .toolbarbutton-icon,
  * > .close-icon:hover{
	-moz-image-region: rect(0, 64px, 32px, 32px) !important;
  }
  #TabsToolbar #closetab_fmarin_com-browser-action:hover:active .toolbarbutton-icon,
  #TabsToolbar #_fe8cab45-aaee-45f8-8765-781e0ebea300_-browser-action:hover:active .toolbarbutton-icon,
  #sidebar-close:hover:active .toolbarbutton-icon,
  * > .close-icon:hover:active {
	-moz-image-region: rect(0, 96px, 32px, 64px) !important;
  }
}

#TabsToolbar #closetab_fmarin_com-browser-action .toolbarbutton-icon,
#TabsToolbar #_fe8cab45-aaee-45f8-8765-781e0ebea300_-browser-action .toolbarbutton-icon,
#sidebar-close .toolbarbutton-icon,
* > .close-icon > .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
}
#sidebar-close {
  background: unset !important;
}

#TabsToolbar #closetab_fmarin_com-browser-action *,
#TabsToolbar #_fe8cab45-aaee-45f8-8765-781e0ebea300_-browser-action * {
  background: unset !important;
  box-shadow: unset !important;
  padding: 0px !important;
  margin: 0px !important;
}

#TabsToolbar .tabbrowser-tab .tab-content .close-icon {
  background: unset !important;
}

.tab-close-button {
  width: 16px !important;
  height: 16px !important;
  padding: unset !important;
  border-radius: unset !important;
}
