/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/***********************************************************/
/* context menu items and icons instead of just huge icons */
/***********************************************************/

#context-back .menu-iconic-icon {
  fill: #4169e1 !important;
}

#context-forward .menu-iconic-icon {
  fill: #4169e1 !important;
}

#context-reload .menu-iconic-icon {
  fill: green !important;
}

#context-stop .menu-iconic-icon {
  fill: red !important;
}

#context-bookmarkpage .menu-iconic-icon {
  fill: #336699 !important;
}
