/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* set a custom font size here ***********************************************************
**(some items will look broken with too large size values) ******************************/


/* NOTE  ********************************************************************************/
/* Variables are set inside '.\config\' folders CSS files, if complete package is used! */


:root{
  --general_ui_font_size: 12pt;
}

* {
  font-size: var(--general_ui_font_size) !important;
}

#PanelUI-button,
#PanelUI-button * {
  font-size: var(--general_ui_font_size) !important;
}
.toolbarbutton-badge-stack .toolbarbutton-badge{
  font-size: 10px !important;
}


#main-window[uidensity="compact"] toolbar :is(.searchbar-textbox, #urlbar,#searchbar),
.megabar #urlbar-results :is(.urlbarView-tags, .urlbarView-action, .urlbarView-title, .urlbarView-url),
#urlbar-container[breakout] #urlbar[breakout],
#searchbar,
.searchbar-textbox {
  font-size: var(--general_ui_font_size) !important;
}
