/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@-moz-document url(about:newtab), url(about:home) {
  body {
	background-color: #323234 !important;
	color: #D1D1D1 !important;
  }
  #newtab-customize-overlay {
	background: #323234 !important;
  }
  .card,
  .prefs-pane .sidebar {
	background-color: #2c2c2c !important; /*202020*/
	color: #C4C4C4 !important;
  }
  .prefs-pane .actions {
	background-color: #2c2c2c !important;
	border-left: 1px solid #D7D7DB;
  }
  .prefs-pane .prefs-modal-inner-wrapper .options {
	background-color: #2c2c2c !important; /*202020*/
	color: #C4C4C4 !important;
  }
  .prefs-pane-button button {
	border: 1px solid #525A6D !important;
	fill: #EEE !important;
  }
  .prefs-pane-button button:hover {
	background-color: #444444 !important;
	border: 1px solid #525A6D !important;
  }
  .prefs-pane-button button:active {
	background-color: #323234 !important;
	border: 1px solid #525A6D !important;
  }
  #searchWrapper input,
  #newtab-search-container input,
  .search-wrapper input {
	background: #474749 var(--newtab-search-icon) 8px center/18px no-repeat !important;
	fill: rgba(194, 194, 194, 0.4) !important;
	color: #FFF !important;
  }
  .contentSearchHeader,
  .contentSearchSuggestionTable,
  .contentSearchSettingButton,
  .contentSearchHeaderRow   {
	background: #2c2c2c !important;
	color: #FFF !important;
	appearance: none !important;
	border-color: transparent !important;
  }
  .search-wrapper .search-label,
  .search-wrapper .search-button {
	fill: #EEE !important; 
  }
  .search-wrapper .search-button:focus,
  .search-wrapper .search-button:hover {
	background-color: #444444 !important;
  }
  .search-wrapper .search-button:active {
	background-color: #323234 !important;
  }
  .section-top-bar .info-option {
	background: #2c2c2c !important;
	color: #FFF !important;
	appearance: none !important;
	border-color: transparent !important;
  }
  .context-menu {
	background: #2c2c2c !important;
	color: #C4C4C4 !important;
	appearance: none !important;
	border-color: transparent !important;
  }
  .separator {
	border: 1px solid #525A6D !important;
  }
	
  #searchIcon,
  #searchSubmit,
  #newtab-search-icon,
  #newtab-customize-button,
  #newtab-search-submit,
  .icon {
	fill: #C4C4C4 !important;
  }
  #newtab-customize-button {
	background-color: #323234 !important;
  }

  #monthly-checkbox-container,
  #block-snippet-overlay {
	color: #FFF !important;
  }
  #searchSuggestionTable{
	background: #474749 !important;
	color: #FFF !important;
  }
	
  #snippetContainer,
  #defaultSnippets,
  #defaultSnippet1,
  #defaultSnippet2,
  #rightsSnippet,
  #onboarding-notification-bar,
  #onboarding-notification-bar .onboarding-action-button,
  #onboarding-notification-bar section,
  #onboarding-notification-body,
  #onboarding-notification-tour-title,
  #onboarding-notification-tour-message,
  #snippets-container,
  #snippets,
  #snippet,
  #snippet section {
	background-color: #323234 !important;
	color: #FFF !important;
  }
	
  #onboarding-notification-close-btn,
  .block-snippet-button {
	background-color: #C4C4C4 !important;
	opacity: 1.0 !important;
	border-radius: 100px !important;
  }
  
  #onboarding-notification-close-btn {
	width: 20px !important;
	height: 20px !important;
  }
  
  #onboarding-notification-action-btn:hover {
	background-color: #444444 !important;
  }
  
  #onboarding-notification-bar {
	border-top: 0px !important;
  }

}