/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@import "./appbutton_on_navbar_color_base.css";

/* autocolor - orange */
#nav-bar #PanelUI-menu-button :is(.toolbarbutton-badge-stack,.toolbarbutton-text) {
  background: linear-gradient(rgb(247,182,82), rgb(215,98,10) 95%) !important;
  border-color: rgba(0,0,0,.12) rgba(0,0,0,.19) rgba(0,0,0,.38) !important;
  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
			  0 0 0 2px rgba(255,255,255,.1) inset,
			  0 0 0 1px rgba(0,0,0,.8) inset !important;
}

#nav-bar #PanelUI-menu-button:hover:not(:active):not([open]) > :is(.toolbarbutton-badge-stack,.toolbarbutton-text) {
  background-image: radial-gradient(farthest-side at center bottom, rgba(252,240,89,.5) 10%, rgba(252,240,89,0) 70%),
				  radial-gradient(farthest-side at center bottom, rgb(236,133,0), rgba(255,229,172,0)),
				  linear-gradient(rgb(246,170,69), rgb(209,74,0) 95%) !important;
  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
			  0 0 0 1.5px rgba(255,255,255,.1) inset,
			  0 0 3.5px hsl(190,90%,80%),
			  0 0 0 1px rgba(0,0,0,.8) inset !important;
}
#nav-bar #PanelUI-menu-button:hover:active :is(.toolbarbutton-badge-stack,.toolbarbutton-text),
#nav-bar #PanelUI-menu-button[open] :is(.toolbarbutton-badge-stack,.toolbarbutton-text) {
  background-image: linear-gradient(rgb(246,170,69), rgb(209,74,0) 95%) !important;
  box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,
			  0 0 2px rgba(0,0,0,.3) inset,
			  0 1px 0 hsla(210,54%,20%,0),
			  0 0 2px hsla(210,54%,20%,0),
			  0 0 0 1px rgba(0,0,0,.8) inset !important;
}

/* aurora */
#nav-bar #PanelUI-menu-button[label="Firefox Developer Edition"] :is(.toolbarbutton-badge-stack,.toolbarbutton-text) {
  background: linear-gradient(hsl(208,99%,37%), hsl(214,90%,23%) 95%) !important;
  border-color: hsla(214,89%,21%,.9) !important;
  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
			  0 0 0 2px rgba(255,255,255,.1) inset,
			  0 0 0 1px rgba(0,0,0,.8) inset !important;
}

#nav-bar #PanelUI-menu-button[label="Firefox Developer Edition"]:hover:not(:active):not([open]) > :is(.toolbarbutton-badge-stack,.toolbarbutton-text) {
  background-image: radial-gradient(farthest-side at center bottom, hsla(202,100%,85%,.5) 10%, hsla(202,100%,85%,0) 70%),
					radial-gradient(farthest-side at center bottom, hsla(205,100%,72%,.7), hsla(205,100%,72%,0)),
					linear-gradient(hsl(208,98%,34%), hsl(213,87%,20%) 95%) !important;
  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
			  0 0 0 1.5px rgba(255,255,255,.1) inset,
			  0 0 3.5px hsl(190,90%,80%),
			  0 0 0 1px rgba(0,0,0,.8) inset !important;
}
#nav-bar #PanelUI-menu-button[label="Firefox Developer Edition"]:hover:active :is(.toolbarbutton-badge-stack,.toolbarbutton-text),
#nav-bar #PanelUI-menu-button[label="Firefox Developer Edition"][open] :is(.toolbarbutton-badge-stack,.toolbarbutton-text) {
  background-image: linear-gradient(hsl(208,95%,30%), hsl(214,85%,17%) 95%) !important;
  box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,
			  0 0 2px rgba(0,0,0,.3) inset,
			  0 1px 0 hsla(210,54%,20%,0),
			  0 0 2px hsla(210,54%,20%,0),
			  0 0 0 1px rgba(0,0,0,.8) inset !important;
}

/* nightly */
#nav-bar #PanelUI-menu-button:is([label="Nightly"],[label="Firefox Nightly"]) :is(.toolbarbutton-badge-stack,.toolbarbutton-text) {
  background: linear-gradient(hsl(211,33%,32%), hsl(209,53%,10%) 95%) !important;
  border-color: hsla(210,59%,13%,.9) !important;
  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
			  0 0 0 2px rgba(255,255,255,.1) inset,
			  0 0 0 1px rgba(0,0,0,.8) inset !important;
}

#nav-bar #PanelUI-menu-button:is([label="Nightly"],[label="Firefox Nightly"]):hover:not(:active):not([open]) > :is(.toolbarbutton-badge-stack,.toolbarbutton-text) {
  background-image: radial-gradient(farthest-side at center bottom, hsla(210,48%,90%,.5) 10%, hsla(210,48%,90%,0) 70%),
					radial-gradient(farthest-side at center bottom, hsla(211,70%,83%,.5), hsla(211,70%,83%,0)),
					linear-gradient(hsl(211,33%,32%), hsl(209,53%,10%) 95%) !important;
  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
			  0 0 0 1.5px rgba(255,255,255,.1) inset,
			  0 0 3.5px hsl(190,90%,80%),
			  0 0 0 1px rgba(0,0,0,.8) inset !important;
}
#nav-bar #PanelUI-menu-button:is([label="Nightly"],[label="Firefox Nightly"]):hover:active :is(.toolbarbutton-badge-stack,.toolbarbutton-text),
#nav-bar #PanelUI-menu-button:is([label="Nightly"],[label="Firefox Nightly"])[open] :is(.toolbarbutton-badge-stack,.toolbarbutton-text) {
  background-image: linear-gradient(hsl(211,33%,26%), hsl(209,53%,6%) 95%) !important;
  box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,
			  0 0 2px rgba(0,0,0,.3) inset,
			  0 1px 0 hsla(210,54%,20%,0),
			  0 0 2px hsla(210,54%,20%,0),
			  0 0 0 1px rgba(0,0,0,.8) inset !important;
}

/* Tor-Browser */
#nav-bar #PanelUI-menu-button:is([label="Tor Browser"],[label="Tor-Browser"]) :is(.toolbarbutton-badge-stack,.toolbarbutton-text){
  background-image: linear-gradient(rgb(153,38,211), rgb(105,19,163) 95%) !important;
}
#nav-bar #PanelUI-menu-button:is([label="Tor Browser"],[label="Tor-Browser"]):hover:not(:active):not([open]) :is(.toolbarbutton-badge-stack,.toolbarbutton-text){
  background-image: radial-gradient(farthest-side at center bottom, rgba(240,193,255,.5) 10%, rgba(240,193,255,0) 70%),
					radial-gradient(farthest-side at center bottom, rgb(192,81,247), rgba(236,172,255,0)),
					linear-gradient(rgb(144,20,207), rgb(95,0,158) 95%) !important;
  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
			  0 0 0 1.5px rgba(255,255,255,.1) inset,
			  0 0 3.5px hsl(190,90%,80%),
			  0 0 0 1px rgba(0,0,0,.8) inset !important;
}
#nav-bar #PanelUI-menu-button:is([label="Tor Browser"],[label="Tor-Browser"]):hover:active :is(.toolbarbutton-badge-stack,.toolbarbutton-text),
#nav-bar #PanelUI-menu-button:is([label="Tor Browser"],[label="Tor-Browser"])[open] :is(.toolbarbutton-badge-stack,.toolbarbutton-text) {
  background-image: linear-gradient(rgb(144,20,207), rgb(95,0,158) 95%) !important;
  box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,
			  0 0 2px rgba(0,0,0,.3) inset,
			  0 1px 0 hsla(210,54%,20%,0),
			  0 0 2px hsla(210,54%,20%,0),
			  0 0 0 1px rgba(0,0,0,.8) inset !important;
}
