/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#PanelUI-button #PanelUI-menu-button {
  list-style-image: unset !important;
  -moz-image-region: unset !important;
}

#PanelUI-button #PanelUI-menu-button .toolbarbutton-icon {
  list-style-image: url("chrome://branding/content/about-logo.png") !important;
  width: 16px !important;
  height: 16px !important;
}
